<html>
  <head>
    <meta charset='utf-8' />
    <title>App</title>
    <link rel='stylesheet' href={{static.css}} />
    <script src={{static.js}}></script>
  </head>
  <body>
    <h1>{{data.title}}</h1>
    <p>{{data.copyright}}</p>

  </body>
</html>